:root {
  --bg_color: #424b54;
  --font_color: black;
  --text_color-1: #a1b4c5;
  --blue-1: #3e92cc;
  --blue-2: #3e92cc;
  --gray-2: #f4f5f7;
  --grey-5: #aaa;
  --grey-8: #333333;
  --silver-pink: #bfacaa;
  --white: #fff;
  --tints-10: #bfab98;
  --bg: #fff;
}
